body{
    background-image: url(C:\Users\15807\Documents\WPSDrive\566163814\WPS云盘\OneDrive\总\STUDY\CS\IS\Web\Final project\Images\Pic1.png);
    background-size:cover;
    background-position: center;
}